.form_ui {
  width: 100%;

  .resend_code {
    @include space-between();
    margin-top: 12px;
    h6 {
      font-size: 14px;
      color: $black;
    }
  }

  .input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .pass-group {
      display: flex;
      .show-pass {
        @include centerFlex();
        cursor: pointer;
        width: 60px;
        height: 48px;
        color: $input_hint;
        background: $input_bg;
        border: 1px solid $input_stroke;
        border-right: 0;
        border-radius: 12px 0 0 12px !important;
      }
      input {
        border-left: 0 !important;
        border-radius: 0 12px 12px 0 !important;
      }
    }

    input,
    select,
    textarea {
      width: 100%;
      height: 48px;
      display: block;
      outline: none;
      font-size: 14px;
      border: 1px solid $input_stroke;
      border-radius: 12px;
      background: $input_bg;
      padding: 12px 16px;
      box-shadow: none !important;
    }

    textarea {
      height: 122px;
      &:focus {
        border: 1px solid $input_stroke !important;
      }
    }

    label {
      color: $black;
      font-weight: 500;
      font-size: 14px;

      i {
        font-size: 12px;
        color: $second;
      }
      span {
        font-size: 12px;
        color: $gray;
      }
    }
  }

  .check_field {
    cursor: pointer;
    input {
      display: none;
      appearance: none;
      &:checked + span {
        background: $black;
        color: $white;
        border-color: $black;
      }
    }

    span {
      background: $input_bg;
      padding: 10px 16px;
      border-radius: 8px;
      font-size: 14px;
      border: 1px solid $input_stroke;
    }
  }

  button {
    width: 100%;
    height: 48px;
    border: 1px solid $main;
    color: $white;
    border-radius: 12px;
    background-color: $main;

    &.success {
      border-color: #44b50c;
      background-color: #44b50c;
    }
  }
}

.otp-container {
  display: flex;
  gap: 8px;
  width: 100%;
  direction: ltr !important;
  .otp-input {
    flex: 1;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 90px;
    outline: none;
    border: 1px solid $input_stroke;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: $main !important;
    &::-webkit-inner-spin-button {
      display: none;
    }
    @media screen and (max-width: 576px) {
      height: 60px !important;
    }
  }
}

.back_btn {
  width: 64px;
  @include centerFlex();
  height: 48px;
  border: 1px solid $input_hint;
  color: $input_hint;
  border-radius: 12px;
  cursor: pointer;
  transition: $transition;
  &:hover {
    border-color: $black;
    color: $white;
    background: $black;
  }
}

.form_group {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  @media screen and (max-width: 576px) {
    flex-direction: column;
  }
}

.form-switch,
.form-check {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;

  label {
    color: $black;
    font-weight: 500;
    font-size: 14px;

    a {
      color: $second;
    }
  }

  .form-check-input:checked {
    background-color: $main !important;
    border-color: $main !important;
  }

  .form-check-input {
    margin: 0 !important;
    cursor: pointer;
  }
}

.form-switch .form-check-input {
  width: 32px;
}

.form-check .form-check-input {
  width: 16px;
  height: 16px;
  box-shadow: none !important;
}

.resend-code {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 24px;
  flex-wrap: wrap;
  .resend_link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: $main;
    gap: 6px;
    color: #333333;
    cursor: pointer;

    span {
      white-space: nowrap;
      color: $main;
      cursor: pointer;
    }

    &.disabled {
      pointer-events: none;

      span {
        color: $main;
        cursor: default;
      }
    }
  }
  .timer {
    flex: 1 0;
    display: flex;
    justify-content: end !important;
    span {
      color: $main;
    }
  }
}
textarea {
  height: 122px;
  &:focus {
    border: 1px solid $input_stroke !important;
  }
}
